<div class="container pt-4 ps-4 pb-5 mb-5">

  <div class="row">
    <div class="col-2 ms-2">
      <%= link_to profile_path, class:"btn-go-back-profile" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
    <div class="col-7">
      <h2 class="text-center"><%= @list.name %></h2>
    </div>
    <p class="text-gray mt-3">Ici, créez vos listes et ajoutez vos favoris selon les critères de votre choix !</p>
  </div>

  <p class="mt-2 me-3 text-center">Ajoutez vos plantes favorites</p>
  <div data-controller="add-favorite">

    <div class="d-flex justify-content-center">
      <button class="button-37" role="button">
        <i class="fa-solid fa-plus fa-xs ml-2" data-action="click->add-favorite#displayForm"></i>
      </button>
    </div>

    <div class="d-none" data-add-favorite-target = "list">
      <% @favoriteplants.each do |plant| %>
        <%= button_to user_list_bookmarks_path(current_user, @list, plant_id: plant), class:"btn-profile-none" do %>
          <ul class="list-group mt-2">
            <li class="list-group-item taille">
                <h3 class="card-title plant-title text-green"><%= plant.name %></h3>
                <p class="text-gray"><%= plant.idapi %></p>
                <% favorite = Favorite.where(user: current_user, plant: @plants) %>
                <% favorite.each do |fav| %>
                  <% if fav.plant_id == plant.id %>
                    <i class="fa-solid fa-heart fa-lg --fa-full-color mt-2"></i>
                  <% end %>
                <% end %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>

    <div class="row row-cols-2 ms-2 me-2 mt-3">
      <% @list.favorites.each do |favorite| %>
      <div class="plant-card col ms-3 mb-3 p-0">
        <%= cl_image_tag favorite.plant.photo.key, class: "plant-img"%>
          <div class="plant-body">
            <div class="d-flex justify-content-between">
              <h3 class="card-title plant-title text-green"><%= favorite.plant.name %></h3>
            </div>
            <%= link_to user_list_bookmark_path(current_user, @list, @list.bookmarks, favorite_id: favorite.id), data: {turbo_method: :delete} do %>
              <i class="fa-solid fa-trash d-flex flex-row-reverse mt-2"></i>
            <% end %>
          </div>
      </div>
    <% end %>
    </div>

</div>
