<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-0 fixed-bottom">
    <div class="footer-container">
        <div class="nav-item icons <%= "active" if current_page?(map_plants_path) %>">
          <%= link_to "/plants/map" do %>
            <i class="fa-solid fa-map-location-dot icon"></i>
          <% end %>
          <p>Carte</p>
        </div>
        <div class="nav-item icons <%= "active" if current_page?(plants_path) %>">
          <%= link_to plants_path do %>
            <i class="fa-solid fa-house icon"></i>
          <% end %>
          <p>Accueil</p>
        </div>
        <div class="nav-item icons <%= "active" if current_page?(new_plant_path) %>">
          <%= link_to "/plants/new" do %>
            <i class="fa-solid fa-camera icon"></i>
          <% end %>
          <p>Caméra</p>
        </div>
        <div class="nav-item icons <%= "active" if current_page?(profile_path) %>">
          <%= link_to "/profile" do %>
            <i class="fa-solid fa-user icon"></i>
          <% end %>
          <p>Profil</p>
        </div>
    </div>
  </div>
<% end %>
