<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="footer-container">
    <% if user_signed_in? %>
      <div class="nav-item icons">
        <%= link_to "/plants/map" do %>
          <i class="fa-solid fa-map-location-dot icon"></i>
        <% end %>
        <p>Carte</p>
      </div>
      <div class="nav-item icons">
        <%= link_to root_path do %>
          <i class="fa-solid fa-house icon"></i>
        <% end %>
        <p>Accueil</p>
      </div>
      <div class="nav-item icons">
        <%= link_to "/plants/new" do %>
          <i class="fa-solid fa-camera icon"></i>
        <% end %>
        <p>Caméra</p>
      </div>
      <div class="nav-item icons">
        <%= link_to "/profile" do %>
          <i class="fa-solid fa-user icon"></i>
        <% end %>
        <p>Profil</p>
      </div>
    <% else %>
      <div class="nav-item icons">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>
