<div class="new-page-container">

    <div class="plant-photo-form">
      <%= link_to plants_path, class:"btn-go-back" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <h1 class="text-center sticky-top plant-name">Faites votre recherche</h1>
  </div>

  <div class="photo-card-new mt-3 mx-2">
    <p class="text-center">Découvrez les secrets des plantes.</p>
    <div class="plant-card-new" data-controller="loaders">
      <%= image_tag "flower-2-new-form.png", class:"photo-new", data: { loaders_target: "image", action:"submit->loaders#loading"} %>
      <div class="loader d-none" data-loaders-target="loader"></div>
      <div class="alert-message text-center" role="alert">
        Afin d'optimiser votre recherche, photographiez votre Planty de près !
      </div>
      <div class="container-form style-form-control">
        <div data-controller="uploads" class= "form-style">
          <%= simple_form_for (@plant), data: { uploads_target: "form", action:"submit->loaders#loading"} do |f| %>
            <%= f.input :photo,
              as: :file,
              label: ('<i class="fa-solid fa-image"></i>  Charger un fichier').html_safe,
              input_html: {
                data: {
                  uploads_target: "input",
                  action: "change->uploads#update"
                }
              }
            %>

            <p class="text-center" data-uploads-target="nomFichier"></p>
            <div class="form-actions mb-2 pt3 d-flex justify-content-center">
              <%= f.button :submit, "Rechercher",
                class:"btn btn my-3 btn-info",
                input_html: {
                  data: {
                    loaders_target: "search"
                  }
                }
              %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
