<div class="results-banner" style="background-image: url(<%= cl_image_path @photo %> );">
  <div class="container">
    <h2> Ta Planty ressemble à </h2>
  </div>
</div>

<div class="container">
    <div class="cards">
      <% @resultstop.each do |plant| %>
        <div class="card results-card">
          <%= link_to plant_path(plant) do %>
            <% if plant.photo.attached? %>
              <%= cl_image_tag plant.photo.key, class: "results-image" %>
            <% else %>
              <p>No photo</p>
            <% end %>
            <div class="results-body">
              <div class="results-title">
                <%= plant.name %>
              </div>
              <div class="results-text">
                <%= plant.species %>
                <p><%= plant.score %>%</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to "Back create", new_plant_path %>
</div>
