<div>
  <div class="plant-photo" style="background-image: url(<%= cl_image_path @plant.photo.key %>)">

    <%= link_to plants_path, class:"btn-go-back" do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>

      <h1 class="text-center plant-name"><%= @plant.name %></h1>
  </div>

  <div class="plant-card-show">
    <div class="trait_dessus"></div>
    <div class="ms-4 mt-3">
      <h1><%= @plant.name %></h1>
      <p><%= @plant.idapi %></p>
    </div>
    <div class="btn-choose-show mt-4">
      <div class="btns-choose-show">
        <div><p class="me-3">Facts</p></div>
        <div><p class="me-3">Medecine</p></div>
        <div><p>Where?</p></div>
      </div>
    </div>
  </div>

</div>
