<div class="container">

  <div class="bloc-user d-flex justify-content-start mt-5 ms-4">
    <img src="<%= cl_image_path current_user.photo.key %>" class="avatar-large" alt="avatar-large" />
    <div class="info-user d-flex flex-column justify-content-center ms-3">
      <h2><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h2>
      <h3 class="username">@<%= current_user.username %></h3>
      <%= link_to ('Déconnexion <i class="fa-solid fa-right-from-bracket"></i>').html_safe, destroy_user_session_path, data: {turbo_method: :delete}, class: "deconnexion"%>
    </div>
    <div class="info-user icon-edit d-flex justify-content-center align-items-center pb-5 ms-2">
      <i class="fa-regular fa-pen-to-square"></i>
    </div>
  </div>

  <div class="infos-chiffre d-flex mt-4 justify-content-center">
    <div class="d-flex flex-column ">
      <div class="grille-infos border-right">
        <div class="d-flex flex-column justify-content-center align-items-center mt-3">
          <h2><%= @plants.count %></h2>
          <p class="text-infos text-gray"><%= @plants.count > 1 ? "Recherche".pluralize : "Recherche" %></p>
        </div>
      </div>
    </div>
      <div class="d-flex flex-column">
        <div class="grille-infos">
          <div class="d-flex flex-column justify-content-center align-items-center mt-3">
            <h2><%= @favorites.all.count %></h2>
            <p class="text-infos text-gray"><%= @favorites.all.count > 1 ? "Favori".pluralize : "Favori" %></p>
          </div>
        </div>
      </div>
  </div>

  <div class="list-allfavorites align-items-center">
    <ul class="nav nav-pills d-flex justify-content-between mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link  active btn-profile" id="pills-listes-tab" data-bs-toggle="pill" data-bs-target="#pills-listes" type="button" role="tab" aria-controls="pills-listes" aria-selected="true">Mes jardins</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link btn-profile" id="pills-favoris-tab" data-bs-toggle="pill" data-bs-target="#pills-favoris" type="button" role="tab" aria-controls="pills-favoris" aria-selected="true">Mes favoris</button>
      </li>
    </ul>
  </div>

  <div class="tab-content mt-3" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-listes" role="tabpanel" aria-labelledby="pills-listes-tab" tabindex="0">
      <div class="profile-carte pt-0">
        <div data-controller="add-list">
        <div class="d-flex flex-row-reverse">

          <button class="button-37" role="button">
          <i class="fa-solid fa-plus fa-xs ml-2" data-action="click->add-list#displayForm"></i>
          </button>
          <p class="mt-1 me-3" >Créer une liste</p>
        </div>

          <%= simple_form_for [current_user, @list], html: {class: "d-none", data: {add_list_target: "form"}} do |f| %>
            <%= f.input :name, label: "Nommez votre jardin 🌳" %>
            <%= f.submit "Ajouter", class:"btn btn-primary mb-2" %>
          <% end %>

          <%if current_user.lists.empty? %>
            <div class="new-profile-carte mt-5">
              <h5>Vous n'avez pas encore de liste... 😢</h5>
              <h6>Créez-en pour regrouper vos favoris par catégorie.</h6>
            </div>
          <% else %>
            <div data-add-list-target="infos">
              <% current_user.lists.each do |list| %>
              <div class="card-list-profile mt-2">
                <%= link_to user_list_path(current_user, list) do %>
                <div class="card-list-text">
                  <h2 class="pt-3"><%= list.name %></h2>

                  <div class="d-flex justify-content-end">
                  <%= link_to user_list_path(current_user, list), data: {turbo_method: :delete} do %>
                  <h2><i class="fa-solid fa-trash"></i></h2>
                  <% end %>
                  </div>
                </div>
                <% end %>
              </div>
              <% end %>
            </div>
          <% end %>

        </div>

      </div>
    </div>

    <div class="tab-pane fade show" id="pills-favoris" role="tabpanel" aria-labelledby="pills-favoris-tab" tabindex="0">
      <div class="div", data-controller="favorite-search">
        <div class="mt-4 mb-4 favorites-formulaire" >
          <%= form_with url: profile_path, method: :get, html: { data: {favorite_search_target: "form"}}, class: "d-flex alignement" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control-new",

              placeholder: "Trouver mes plantes...",

              data: {
                favorite_search_target: "input",
                action: "keyup->favorite-search#update"
                }
            %>
            <%= submit_tag "Recherche", class: "btn btn-primary search-btn ", id: "color-white" %>
          <% end %>
        </div>
          <h2 class="text-green alignement"> Plantes favorites 🪴 </h2>
          <% if @favorites.any? %>
            <%= render "profile/list"%>
          <% else %>
            <div class="new-profile-carte mt-5">
              <h5>🌱 Vous n'avez pas de plantes favorites !🌱</h5>
              <h6>Commencez votre exploration pour trouver vos Planty favorites.</h6>
            </div>
          <% end %>
      </div>
    </div>
  </div>



</div>
